!!! 5
html(lang="en")
  head
    title Hvenær er næsti strætó 
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="/css/straeto.css", media="all")

    script(src="/scripts/modernizr-min.js")
    script(src="/scripts/zepto.min.js")
    script(src="/scripts/underscore-min.js")
    script(src="/scripts/backbone-min.js")
    script(src="/app.js")
    
  body
    #main
      #container
        != body
