#next
  | Næsti vagn nr. 
  span.route.green 12
  |  frá <u>Laugarnestanga</u> í átt að
  ul
    li 
      | <u>Skeljanesi</u> er kl. 
      span.time 14:32
    li 
      | <u>Ártúni</u> er kl. 
      span.time 14:30
